* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: hidden; /* Disable default body scroll */
}

.toggle-mode i {
  font-size: 1rem;
}

:root {
  --bg-color: #fff;
  --text-color: #030816;
  --sidebar-text: #555;
  --navbar-text: #333;
  --neutral: #e5e5e5;
  --accent-color: #f2f5f8;
  --accent-foreground: #fff;
  --ring-color: rgba(0, 123, 255, 0.5);
  --ring-offset-color: rgba(0, 123, 255, 0.1);
  --primary-color: #333;
}

.dark-mode {
  --bg-color: #030816;
  --text-color: #f8fafc;
  --sidebar-text: #bbb;
  --navbar-text: #f8f9fa;
  --accent-color: #20293a;
}

h1 {
  font-size: 36px !important;
  margin-bottom: 1rem;
}

h2 {
  font-size: 24px !important;
}

/* Navbar fixed at the top */
.navbar {
  color: var(--navbar-text);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 64px;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--accent-color);
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.toggle-mode {
  background-color: transparent;
  color: var(--navbar-text);
  border: none;
  cursor: pointer;
}

/* Flexbox container fills the remaining space */
.container {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 68px); /* Full height minus the navbar */
  overflow: hidden; /* Disable container overflow */
}

hr {
  border: 1px solid var(--accent-color);
  border-radius: 999px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* Sticky sidebar that doesn't scroll over the navbar */
.sidebar {
  color: var(--sidebar-text);
  width: 320px; /* Set a fixed width */
  /* min-width: 250px; */
  /* max-width: 250px; */
  padding: 1rem 2rem;
  position: sticky;
  top: 68px; /* Start the sidebar just below the navbar */
  height: calc(
    100vh - 68px
  ); /* Ensure the sidebar fills the remaining height */
  overflow-y: auto;
  border-right: 1px solid var(--accent-color);
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 0.5rem;
}

.sidebar ul li a {
  color: var(--sidebar-text); /* Default text color */
  text-decoration: none;
  font-size: 14px;
  padding: 0.5rem 1rem; /* Add some padding for a more "button-like" feel */
  border-radius: 0.375rem; /* Slightly rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  display: block; /* Ensure the link takes up full width of its container */
}

.sidebar ul li a:hover {
  background-color: var(--accent-color); /* Background on hover */
}

/* Main content should be the only scrollable section */
.content {
  flex-grow: 1;
  padding: 2rem;
  margin-left: 2.5rem;
  overflow-y: auto; /* Independent scrolling for content */
  height: 100%;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* Initially show the sun icon (light mode) */
.sun-icon {
  display: inline-block;
}

.moon-icon {
  display: none;
}

/* Dark mode settings: Show moon icon, hide sun icon */
body.dark-mode .sun-icon {
  display: none;
}

body.dark-mode .moon-icon {
  display: inline-block;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.375rem; /* Slightly rounded corners */
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  transition: background-color 0.3s, color 0.3s;
  padding: 0.5rem; /* For some padding inside the button */
  height: 2.5rem; /* h-10 */
  width: 2.5rem; /* w-10 */
  background-color: transparent; /* Default background */
  color: var(--text-color); /* Default text color */
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color);
}
